html{
  margin: 0px 0px 0px 0px;
  background-color: #122426;
}

body{
  margin: 0px 0px 0px 0px;
  display: grid;
  grid-template-columns: 35% 5% 40%;
  grid-template-rows: 700px 30% 40% 300px 40% 30% 40%;

}

.titres{

  font-family: 'Barlow Condensed', sans-serif;
  font-size: 40px;
  color: #5AB3BD;
  margin-left: 10%;
  margin-top: 50px;
}

.textes{
  font-family: 'Open Sans Condensed', sans-serif;
  color: white;
  font-size: 18px;
  margin-left: 10%;
  margin-top: 50px;

}

.midLogo{
  margin-top: 50px;

}
/*Column 1
Value are mentionned in the class exept for nav
for example hobby1-2 is the hobby cell column 1 row 2*/
nav{
     /*parallax effect*/
     min-height: 500px;
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: url(./images/elephant.png);
  grid-column: 1 / span 4;
  text-align: center;
  padding: 150px 0px 0px 100px;

}
.photoProfile1-2{
  padding-top: 27%;
  text-align: right;
  grid-column: 1; grid-row: 2;
}
.text1-3{
  text-align: right;
  grid-column: 1; grid-row: 3;
}
.keySkills1-4{
  text-align: right;
  grid-column: 1; grid-row: 4;
}
.empty1-5{
  text-align: right;
  grid-column: 1; grid-row: 5;
}
.contact1-6{
  text-align: right;
  grid-column: 1; grid-row: 6;
}
.empty1-7{
  text-align: right;
  grid-column: 1; grid-row: 7;
}
      /*Column 2*/
      .empty2-2{
        grid-column: 2; grid-row: 2;
      }
      .empty2-3{
        grid-column: 2; grid-row: 3;
      }
      .empty2-4{
        grid-column: 2; grid-row: 4;
      }
      .prog2-5{
        grid-column: 2; grid-row: 5;
      }
      .empty2-6{
        grid-column: 2; grid-row: 6;
      }
      .datum2-7{
        grid-column: 2; grid-row: 7;
      }

/*Column 3*/
.profile3-2{
  text-align: left;
  grid-column: 3; grid-row: 2;

}
.text3-3{
  text-align: left;
  grid-column: 3; grid-row: 3;
}
.skills3-4{
  text-align: left;
  grid-column: 3; grid-row: 4;
}
.text3-5{
  text-align: left;
  grid-column: 3; grid-row: 5;
}
.experiences3-6{
  text-align: left;
  grid-column: 3; grid-row: 6;
}
.text3-7{
  text-align: left;
  grid-column: 3; grid-row: 7;
}
